body {
    font-family: Arial, Helvetica, sans-serif;
}

.Weather {
    border: 1px solid #dadde1;
    padding: 16px;
    margin: 30px auto;
    border-radius: 4px;
}

.Weather form {
    margin-bottom: 20px;
}

.Weather h1 {
    display: block;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 20px 0 0 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    display: block;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}

.Weather canvas {
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}

.Weather .temperature {
    font-size: 64px;
    line-height: 64px;
}

.Weather .unit {
    font-size: 16px;
    position: relative;
    margin-top: 5px;
    margin-left: 0;
}